@import url('https://fonts.googleapis.com/css2?family=East+Sea+Dokdo&family=Roboto&display=swap');
header .container{
    font-family: 'East Sea Dokdo', cursive;
    background-color: none;
    font-size:40px;
    display:flex;
    flex-direction:column;
    padding:20px 40px;
    padding-right:0px;
    color:darkolivegreen;
}
.product_info span{
    color:darkslategray;
}
.product_info{
    margin-bottom:10px;
    margin-left:40px;
}
@media(max-width:768px){
    header .container{
        font-size:30px;
        padding:18px 0 0 50px;
    }
}